* {
     margin: 0px;
    padding: 10px;
    }
    
    .container {
     display: grid;
    height: 100hv;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" " footer";
    }
    
    .header {
     grid-area: header;
    display: grid;
    background-color: black;
     grid-gap: 10px;
    align-items: stretch;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas: "menu menu menu" "text text text";
    }
    
    .menu {
    display: grid;
    background-color: #949390;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: 100hv;
    width: auto;
    grid-template-areas: "block1 block2 block3";
    }
    
    .text {
    grid-area: text;
    grid-gap: 10px;
    background-color: #a5790b;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "h1 h1 h1";
    align-items: center;
    }
    
    h1 {
    grid-area: h1;
    background-color: #F2F2F2;
    align-items: strech;
    }
    
    .block1 {
    grid-area: block1;
    background-color: #066163;
    grid-gap: 0.2em;
    }
    
    .block2 {
    grid-area: block2;
    background-color: #c0ef17;
    grid-gap: 0.2em;
    }
    
    .block3 {
    grid-area: block3;
    background-color: #066163;
    grid-gap: 0.2em;
    }
    
    .main {
    background-color: black;
    grid-area: main;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section sideBlock";
    }
    
    .section {
    background-color: #006E7F;
    grid-area: section;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "object1 object2 " "object3 object4 " "navigation navigation";
    }
    
    /* CREO LA CLASE NADA MAS PARA EL COLOR AMARILLO PARA NO REPETERIME*/
    
    .object-yellow {
    background-color: #F8CB2E;
    }
    
    .object1 {
    grid-area: object1;
    }
    
    .object2 {
    grid-area: object2;
    }
    
    .object3 {
    grid-area: object3;
    }
    
    .object4 {
    grid-area: object4;
    }
    
    .navigation {
    background-color: #f06915;
    grid-area: navigation;
    }
    
    .sideBlock {
    background-color: #EE5007;
    grid-area: sideBlock;
    grid-gap: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text-aside1" "text-aside2";
    align-items: center;
    }
    
    .text-aside1 {
    grid-area: text-aside1;
    }
    
    .text-aside2 {
    grid-area: text-aside2;
    }
    
    .footer {
    grid-area: footer;
    background-color: black;
    }
    
    .longText {
    background-color: #EE5007;
    }

/* VERSION PARA TABLET */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section" "sideBlock";
     }
    }    
    /* VERSION PARA MOBILES */

@media only screen and (min-width: 321px) and (max-width: 767px) {

.main {
 display: grid;
grid-template-columns: 1fr;
 grid-template-rows: 1fr 1fr;
grid-template-areas: "section" "sideBlock";
 }
.header {
 display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas: "menu" "text";
 }
 .menu {
 display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: "block1" "block2" "block3";
 }
  .section {
 display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "object1" "object2" "object3" "object4" "navigation";
 }
}
