*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-flow: column nowrap;
}
.header{
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background-color: #383838;
        display: flex;
        flex-flow: row nowrap;
        height: auto;
        align-items: center;
    }
        .block1{
            background-color: #066163; 
            flex: 1 1 auto;
        }
        .block2{
            background-color: #066163; 
            flex: 5 1 auto;
        }
        .block3{
            background-color: #066163;
            flex: 1 1 auto; 
        }
    .text{
        background-color: #CDBE78;
    }
        h1{
         background-color:#F2F2F2
        }
.main{
    background-color: black;
    display:flex;
    flex-flow: row wrap;
    height:200px;
}
    .section{
    background-color: #006E7F;
    display: flex;
    flex: 2 1 auto;
    flex-flow: row wrap;
    }
        .object{
            background-color: #F8CB2E;
            flex: 1 1 40%;  
        }
       
        .navigation{
            background-color: #F8B400;
            flex: 1 1 100%;  
        }
    .sideBlock{
        background-color: #EE5007;
        flex:1 1 auto;
    }
        .text1{
            background-color:#F2F2F2
        }
        .text2{
            background-color:#F2F2F2
        }
.footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
    .longText{
    background-color: #EE5007;
    flex: 1 1 100%;
    }
    /* VERSION PARA TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .main{
        flex-direction: column;
        height:auto;
        }
    }
    /* VERSION PARA MOBILES */
    @media only screen and (max-width: 767px){
        .main{
            flex-direction: column;
            height:auto;
            }
        .section{
            flex-direction: column;
            height:auto;
            }
        .menu{
            flex-direction: column;
            display:flex;
            height:auto;
            width: auto;
            }
        }